<nav class=" navbar-toggleable-md navbar-inverse bg-inverse">

        <div class="container hidden-print">
            <a class="navbar-brand" href="#">Gestion de Devis</a>
            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav ml-auto" >
                    
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="fournisseur">Fournisseur</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active"> 
                        <a class="nav-link" routerLink="materiel">Materiel</a>
                    </li>
                    <li class="nav-item " routerLinkActive="active">
                        <a class="nav-link" routerLink="devis">Mes Devis</a>
                    </li>
                     <li class="nav-item " routerLinkActive="active">
                        <a class="nav-link" routerLink="auth">Déconnexion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    