
<a float="right" id="impr" href="#" onclick="javascript:window.print()">Imprimer</a>

<div id="bloc_page">
      <img src="C:\Users\TST\Desktop\my-app3\sqli-logo.png" id="logo"/> 
</div>

<hr size=4 width=30% align=center > 

    <div id="imp">
<div class="sqli" id="sidebar">
<h5> SQLI </h5>
<h5> Numéro </h5>
<h5> Adresse blabla </h5>
<h5> d,gjhdghkjk </h5>
</div>



<hr size=4 width=30% align=center > 
<div float="right" >
	
<table BORDER="1"> 
   <tr> 
 <th bgcolor="white" width="250"> Client : Entreprise ou particulier </th> 
 <td > Valeur B2 </td> 
  </tr>
</table> 
</div>
<hr size=4 width=30% align=center > 
<div>
	<table align="center" BORDER="1">  
	<tr> 
 <th bgcolor="white" width="200"> Devis numéro </th>
 <td> 000121 </td> 
    </tr> 
    <tr>
 <th bgcolor="white" width="200"> Date de devis </th> 
 <td> 23-07-2017 </td>
    </tr> 
    <tr>
 <th> Valable jusqu'au</th> 
 <td> 25-08-2018 </td> 
    </tr> 
  </table> 
</div>
<hr size=4 width=30% align=center > 
<div>
	<table align="center" BORDER="1">  

	<tr> 
 <th> Référence </th>
 <th> Description </th> 
 <th> Montant </th>
 <th> Quantité </th> 
 <th> sous-total </th> 
    </tr> 
	 <tr>
 <td> #AP001 </td> 
 <td> blablabla </td> 
 <td> 50,00 </td> 
 <td> 1 </td> 
 <td> 500dh</td> 
    </tr> 
   <tr>
 <td> #AP001 </td> 
 <td> blablabla </td> 
 <td> 50,00 </td> 
 <td> 1 </td> 
 <td> 500dh</td> 
    </tr> 
   <tr>
 <td> #AP001 </td> 
 <td> blablabla </td> 
 <td> 50,00 </td> 
 <td> 1 </td> 
 <td> 500dh</td> 
    </tr> 
    <tr>
 <td> #AP001 </td> 
 <td> blablabla </td> 
 <td> 50,00 </td> 
 <td> 1 </td> 
 <td> 500dh</td> 
    </tr> 
  </table> 
</div>
<hr size=4 width=30% align=center > 
<div class="total">
	<table BORDER="1">  
	<TR> 
 <th bgcolor="white" width="50"> Total à régler </th> 
    </TR>
    <TR>
 <td> 76769dh </td> 
    </TR>
  </table> 
</div>
</div>


<footer id="foot">
<footer>
       












